.event-details {
  width: 70%;
  padding: 30px;
  background-color: rgb(126, 195, 140);
}

.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #083509;
}

.details-content h1 {
  margin-bottom: 20px;
  color: #083e0a;
}

.info p {
  margin-bottom: 10px;
  color: #093112;
}

.description h3 {
  margin-bottom: 10px;
  color: #0e4210;
}

.description p {
  color: #073414;
}