.sidebar {
  width: 400px;
  background-color: #27681d;
}

.header {
  padding: 15px;
  background-color: #27681d;
  color: rgb(211, 255, 194);
}

.header h1 {
  margin-bottom: 30px;
}

.header button {
  width: 100%;
  padding: 20px;
  background-color: rgb(126, 195, 140);
  color: #144d0e;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.search-box {
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.search-box input {
  width: 100%;
  padding: 8px;
  border: 1px solid #1a5a21;
  border-radius: 4px;
}

.event-list {
  padding: 10px;
  height: 500px;
  overflow-y: auto;
}

.no-events {
  text-align: center;
  color: #999;
  margin-top: 50px;
}

.event-item {
  padding: 10px;
  margin-bottom: 8px;
  background-color: rgb(203, 247, 205);
  border: 1px solid #07410a;
  border-radius: 4px;
  cursor: pointer;
}

.event-item:hover {
  background-color: #6caf73;
}

.event-item.selected {
  background-color: #51b477;
  color: rgb(6, 67, 32);
}

.event-item h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.event-item p {
  color: #104f11;
}

.event-item.selected p {
  color: #104f11;
}